
.fullPage{
  height: 100vh;
  background-color: purple;
  color: red;
}
.top{
  height: 50vh;
  position: relative;
  background-color: green;
  color: red;
}
.notify{
  height:5vh;
   background-color:black;
   border-style: dashed;
   border-width: thin;
}
.button{
  position:right;
  float:right;
  margin-right: 100px;
  margin-top: 5px;
}
.bottom{
  height: 50vh;
  position: relative;
  background-color: green;
  color: black;
}
